body{
    background-color: blue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens.jpeg{
     width: 90%;


button{
    background-color: azure;
    color: aliceblue;
    padding:25px
}     
}

